<div *ngIf="!_unDealed">
  <div class="horizontal south">
    <img *ngFor="let card of m_players[_south]?.cards" src="assets/images/cards/{{card}}.gif">
  </div>
  <div class="vertical east">
    <img *ngFor="let card of m_players[_east]?.cards" src="assets/images/cards/{{card}}.gif">
  </div>
  <div class="horizontal north">
    <img *ngFor="let card of m_players[_north]?.cards" src="assets/images/cards/{{card}}.gif">
  </div>
  <div class="vertical west">
    <img *ngFor="let card of m_players[_west]?.cards" src="assets/images/cards/{{card}}.gif">
  </div>
  <div class="south_text horizontal">
    <div class="h_text">name: {{m_players[_south]?.name}}</div>
    <div class="h_text">tricks: {{m_players[_south]?.trick}}</div>
    <div class="h_text">bids: {{m_players[_south]?.bids}}</div>
    <div class="h_text">score: {{m_players[_south]?.score}}</div>
  </div>
  <div class="east_text vertical">
    <div class="v_text">name: {{m_players[_east]?.name}}</div>
    <div class="v_text">tricks: {{m_players[_east]?.trick}}</div>
    <div class="v_text">bids: {{m_players[_east]?.bids}}</div>
    <div class="v_text">score: {{m_players[_east]?.score}}</div>
  </div>
  <div class="north_text horizontal">
    <div class="h_text">name: {{m_players[_north]?.name}}</div>
    <div class="h_text">tricks: {{m_players[_north]?.trick}}</div>
    <div class="h_text">bids: {{m_players[_north]?.bids}}</div>
    <div class="h_text">score: {{m_players[_north]?.score}}</div>
  </div>
  <div class="west_text vertical">
    <div class="v_text">name: {{m_players[_west]?.name}}</div>
    <div class="v_text">tricks: {{m_players[_west]?.trick}}</div>
    <div class="v_text">bids: {{m_players[_west]?.bids}}</div>
    <div class="v_text">score: {{m_players[_west]?.score}}</div>
  </div>
</div>
<div class="mycenter" *ngIf="_unDealed">
  <div *ngIf="_unJoined">
    <input class="form-control" type="text" (input)="my_name=$event.target.value">
    <button class="btn btn-primary" (click)="joinGame()">Join game!</button>
  </div>
  <div *ngIf="!_unJoined">
    <select multiple class="form-control" #queueSelector>
      <option *ngFor="let queue of m_queue" [value]="queue">{{queue.name}}</option>
    </select>
    <button class="btn btn-primary" (click)="startGame(queueSelector.value)">Start game!</button>
    <div>{{errorMsg}}</div>
  </div>
</div>
<button class="btn btn-primary" *ngIf="!_unDealed" (click)="reStart()">restart game</button>
